<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <style>
        .dflex{
            flex: 1;    
        }
        form{
            width:75vw;
        }
        .custom-size{
            height:210px;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <% include partials/nav %>
    <main> 
        <div id="app" class="container">
            
            <div class="row">
                <div class="col s12 m8">
                    <form @submit.prevent="getBars(city)">
                        <input type="text" name="cityname" placeholder="Enter City Name" v-model:value="city">
                        <button class="btn" type="submit">Enter</button>
                    </form>
                </div>
            </div>

            <% let bar = "" %>
            <div class="row" >
                <div v-for="(bar, index) in bars">
                    <div class="col s12 m4 dflex">
                            <div class="card custom-size blue-grey">
                                <div class="card-content white-text">
                                    <span class="h3 card-title"> {{ bar["name"] }} </span>
                                    <a style="color:white;cursor:pointer" @click="checkAttend(bars[index]._id,index)"><span>Going: {{ bar["usersAttending"].length}}</span></a>
                                    <p>{{ bar["formatted_address"] }}</p>
                                    <i  v-for="glass in Math.floor(bar.rating)" class="material-icons amber-text">local_bar</i>                             
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <h1 v-if="load" style="display:inline-block;">Cooking Up Bars );</h1>
            <div v-if="load" id="cooking">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div id="area">
                  <div id="sides">
                    <div id="pan"></div>
                    <div id="handle"></div>
                  </div>
                  <div id="pancake">
                    <div id="pastry"></div>
                  </div>
                </div>
            </div>
            
        </div>
        
    </main>
    
    <% include partials/foot-css %>
    <% include partials/foot %> 
    <script>
        let app = new Vue({
            el:"#app",
            data:{
                city:"",
                load:false,
                bars:[]
            },
            methods:{
                getBars:function(cityname){
                   let vm = this;
                   vm.load = true;
                   vm.bars = [];
                    axios.get("/search/"+cityname.trim())
                    .then((res) => {
                        vm.load = false;
                        vm.bars = [];
                        console.log(res.data)
                        res.data.forEach((e) => {
                            if(e !== null){
                                vm.bars.push(e)
                            }
                        })
                    })
                    .catch((err) => {
                        console.log("an error occurred")
                    })
                },
                checkAttend: function(barId,index){
                    console.log("check attending");
                    let vm = this;
                    axios.get("http://localhost:3000/search/going/"+barId.trim())
                    .then((res) => {
                        if(res.data == "authenticate"){
                            alert("Please Login");
                        }
                        else if(res.data == "add"){
                            vm.bars[index].usersAttending.push({name:"new user"});
                        }
                        else{
                            vm.bars[index].usersAttending.pop();
                        }
                    })
                    .catch((err) => {
                        console.log("oops error occurred");
                    })
                }
            }
        })
    </script>
</body>
</html>